{% extends "uifiles/base.html" %}
{% load static %}
{% block content %}

<div id="userTableContainer"
     style="width: 100%; padding: 20px; box-sizing: border-box;">

    <table id="userTable"
           style="
               width: 100%;
               border-collapse: collapse;
               border: 2px solid #333;
               font-family: Arial, sans-serif;
           ">

        <!-- TABLE HEADER -->
        <thead id="userTableHead">

            <tr id="tableHeader"
                style="background-color: #212529; color: white;">

                <th id="snoHeader"
                    style="border: 1px solid #333; padding: 12px; text-align: center;">
                    S.No
                </th>

                <th id="usernameHeader"
                    style="border: 1px solid #333; padding: 12px; text-align: center;">
                    Username
                </th>

                <th id="fullnameHeader"
                    style="border: 1px solid #333; padding: 12px; text-align: center;">
                    Full Name
                </th>

                <th id="emailHeader"
                    style="border: 1px solid #333; padding: 12px; text-align: center;">
                    Email
                </th>
                 <th id="emailHeader"
                    style="border: 1px solid #333; padding: 12px; text-align: center;">
                    Password
                </th>

                <th id="actionHeader"
                    style="border: 1px solid #333; padding: 12px; text-align: center;">
                    Action
                </th>

            </tr>

        </thead>


        <!-- TABLE BODY -->
        <tbody id="userTableBody">

            <!-- ROW 1 -->
             {% for item in userData %}
            <tr id="row_1">

                <td id="sno_1"
                    style="border: 1px solid #333; padding: 12px; text-align: center;">
                    {{ item.id }}
                </td>

                <td id="username_1"
                    style="border: 1px solid #333; padding: 12px;">
                   {{ item.username }}
                </td>

                <td id="fullname_1"
                    style="border: 1px solid #333; padding: 12px;">
                  {{ item.first_name }}
                </td>

                <td id="email_1"
                    style="border: 1px solid #333; padding: 12px;">
                    {{ item.email }}
                </td>
                  <td id="email_1"
                    style="border: 1px solid #333; padding: 12px;">
                    {{ item.password }}
                </td>

                <td id="action_1"
                    style="border: 1px solid #333; padding: 12px; text-align: center;">

                    <div class="call_to_action">
						<a class="btn_two" href="/change_password/{{ item.id }}/">chnage password <i class="fa-solid fa-arrow-right"></i></a>
					</div> 
                    <div class="call_to_action">
    <button
        type="button"
        class="btn_two"
        onclick="delete_user({{ item.id }})"
    >
        Delete
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>

                    
                    

                </td>

            </tr>
            {% endfor %}



        </tbody>

    </table>

</div>
		
{% endblock %}